* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(body.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

nav {

    color: rgb(26, 17, 17);
    height: 100px;
    font-size: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: none;
    background-color: hotpink;
    border-radius: 50vh;
    width: 12rem;
    height: 5rem;
    text-align: center;
    animation: livi 3s ease-in-out;
}

li {
    margin-top: 1.2rem;
    color: rgb(34, 99, 54);
}


@keyframes livi {
    0% {
        transform: rotate(360deg);
    }


}

.gameContainer {
    width: 70%;
    background-color: rgba(245, 196, 229, 0.5);
    display: flex;
    color: black;
    justify-content: center;
    margin-top: 10px;
    margin-left: 17rem;
    border-radius: 20px;


}

.container {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.box {
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: rgb(147, 214, 214);
}

.gameInfo {
    padding: 0 34px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.gameInfo h1 {
    margin-bottom: 10px;
    margin-left: 10rem;
}

.gameInfo h1:hover {
    background-color: #e2327b;
}


.info {
    font-size: 3rem;
}

.imgbox img {
    width: 0;
    margin-top: 20px;
}

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

#reset {
    margin: 0 23px;
    padding: 1px 18px;
    background: #f3e7f9;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bolder;
}

#reset:hover {
    border-color: #65e685;
    border-style: double;
    background-color: #eb6ed0;
    font-size: 1.5rem;
}



.line {
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    background-color: #911d91;
    transition: width 1s ease-in-out;
}



.divi {
    width: 100vw;
    height: 100vh;
    background-image: url('pahad.jpg');
    background-clip: text;
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 20rem;
    margin-left: 20rem;
    margin-top: 5rem;

}



.divi1 {
    height: 30rem;
    width: 30rem;
    border-radius: 50px;
    background-color: #65e685;
    margin-left: 20rem;

}

.divi1:hover {
    background-color: chartreuse;
    animation: ani 3s infinite;
}

@keyframes ani {
    0% {
        transform: rotate(360deg);
        background-color: #f39874;
    }

}




.divi2 {
    height: 20rem;
    width: 20rem;
    border-radius: 50px;
    background-color: #9926d3;
    margin-left: 20rem;
    position: relative;
    top: 5rem;
    animation: anim 3s infinite;

}

@keyframes anim {
    0% {
        transform: rotate(360deg);
        background-color: #d1f374;
    }

}

.divi3 {
    height: 20rem;
    width: 20rem;
    border-radius: 50px;
    background-color: #eb6ed0;
    margin-right: 20rem;
    position: relative;
    top: -15rem;
    left: -10rem;
    animation: an 3s infinite;


}

@keyframes an {
    0% {
        transform: rotate(360deg);
        background-color: #e2327b;
    }

    50% {
        transform: rotate(90deg);
    }

}